.play-panel-container {
    padding: 20px;
}

.play-panel-container .card {
    width: 20rem;
}

.play-panel-container .card .btn {
    margin: 0 10px;
    padding: 5px;
}

.button-icon {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}

.button-play {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABl0lEQVR4Ae2aA8iYYRhF39l2mO3vPlNuubYwG2HMbXlmnr20MMbZttJs27Z3f2beuudkvifcj0kfVYwxxhhjjDHGGGOKYRCWYw16piJJjyiBrfHjrziKFnoB034fnX7OZjUulZTAzTwBv70WXZMOPHYesSqqiwbQpxiuGkBxoE1DzQCKjzExSmgGUJxHF80Aiu9YHpVEA+gD9JMNoNuzeqIB9F2MS0VFA+jZ9u01Ayi+YW7bcqIB9E50Uw2g2BB1RAPoqxibimgGUJxEC9EA+iVmNy6lHMDHINEAurJxKc0Aip2pqGYARXfxgJgtHoAp4gHtMu2AScor9BLDha8DWNu2pu6FjLfWggH4hgV8uNELwPmsg+zzAN/aaQbgaPsmuo+ULzGSz2F6AdjAwRQMuM/B1AvA91jcrILsq0W+ZFcMwCdM5mDKBXAwNQNexRgOpmDAJr461AvAPfRMCuB7YYOJpb8HU4K4VeD4lzmYCmBG3sHMprYqmZRoVT4u5X3PLEf90jEe+7BW6IcnY4wxxhhjjDHGGPMTPyqggIdhWWgAAAAASUVORK5CYII=);
}

.button-stop {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgBAMAAAAQtmoLAAAAG1BMVEUAAAAwMDAyMjIzMzMzMzMzMzMyMjIyMjIzMzPptwgzAAAACXRSTlMAII/P/7+Q0LAszZiuAAAAb0lEQVR4Ae3VsQmAQBBE0cHAAkSMtYdrQBw9y1CwBPvHXHeyEy6Yl3+WjQZmZnXrEl+WCdAaBkZoiYEVUsvQAaVnaIZyMbRBSQwtUCg4cODAgQMH/wY3Q7ncKOrZLTHs+okdWqsPCMPnRj5RNTOzBwqmLOVfchkPAAAAAElFTkSuQmCC);
}

.tempo-panel, .time-signature-panel {
    margin-bottom: 0;
}