.sequencer-container {
    padding-top: var(--size-4);
}

.sequencer-container .title {
    font-size: var(--size-5);
    padding: 0 var(--size-2);
}

.sequencer-container .body {
    width: auto;
    padding: var(--size-2) var(--size-4);
}

.sequencer-roll {
    color: var(--color-2);
    overflow-x: auto; 
    overflow-y: visible;
    margin-left: 30px;
}

.sequencer-roll-cell {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    text-align: center;
    border: 1px solid var(--color-2);
}

.note-value-header {
    position: absolute;
    background-color: var(--color-1);
    left: var(--size-4);
    border: none;
}

.sequencer-roll .bar-header-item {
    position: relative;
}

.sequencer-roll .remove-icon {
    display: inline-block;
    position: absolute;
    right: 4px;
    top: 4px;
}

.sequencer-roll .bar-header-item:hover .remove-icon:hover {
    cursor: pointer;
}

.sequencer-roll .bar-header-item:hover {
    cursor: default; 
}

.sequencer-roll .active-note {
    background-color: var(--color-3);
    cursor: default;
}

.sequencer-roll .beat-header {
    font-size: 12px;
    font-weight: normal;
}

.add-bar-item {
    padding-bottom: var(--size-3);
}

.add-bar-item .btn {
    background-color: var(--color-5);
    border-color: var(--color-5);
    color: var(--color-2);
    margin-right: var(--size-4);
}