:root {

  /* colors */
  --color-1: #4D5061; /* D8DBE2 */
  --color-2: #F6F0ED; /* 4D5061 */
  --color-3: #C2948A; /* A9BCD0 */
  --color-4: #30323D; /* 30323D */
  --color-5: #7EA8BE; /* 58A4B0 */
  --color-6: #E59A89;

  /* layout */
  --size-0: 4px;
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 24px;
  --size-6: 32px;
  --size-7: 48px;
}

body {
  margin: 0;
  padding: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-1);
  color: var(--color-2);
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col, .col-4 {
  padding-right: 0;
  padding-left: 0;
}
